:root {
  --primary-text-color: #212121;
  --accents: #2196f3;
  --hero-and-footer-color: #ffffff;
  --contacts-color: #757575;
}

.page {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-decoration-line: none;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  border: 1px solid #ececec;
}

.head {
  display: flex;
  align-items: center;
}
.logo,
.logo-down {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 90px;
  font-style: normal;
}

.logo-web,
.logo-web-down {
  color: var(--accents);
  font-style: normal;
}

.site-nav {
  display: flex;
}

.site-nav .links {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.link {
  margin-right: 50px;
}

.link:last-child {
  margin-right: 50px;
}

.site-nav .links:hover,
.site-nav .links:focus,
.site-nav .links:active,
.site-nav .links.current {
  color: var(--accents);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.envelop {
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  fill: var(--contacts-color);
}

.contacts {
  padding: 32px 0px;
  display: flex;
  align-items: center;
}

.contacts:focus,
.contacts:hover {
  fill: var(--accents);
}

.contacts:focus svg,
.contacts:hover svg {
  fill: var(--accents);
}

.antenna {
  margin: 0;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding: 0;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-description {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0px;
}

.section.padding {
  padding-bottom: 0px;
}

.section-title {
  color: var(--primary-text-color);
}

.section.team {
  padding-top: 94px;
  background: #f5f4fa;
}

.hero {
  color: var(--hero-and-footer-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-style: normal;
}

.hero-section {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button {
  color: var(--hero-and-footer-color);
  background-color: var(--accents);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
}

.button:hover {
  background-color: #188ceb;
}

.container.offers {
  display: flex;
}

.off,
.work,
.team,
.clients {
  display: flex;
}

.work .item + .item {
  margin-left: 30px;
}

.team .items + .items {
  margin-left: 30px;
}

.off .item + .item {
  margin-left: 30px;
}

.clients .item + .item {
  margin-left: 30px;
}

.offers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 10px;
}
.offers-view {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 10px;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--contacts-color);
  padding-bottom: 20px;
}

.team-title {
  padding: 30px;
  text-align: center;
}

.items {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.web {
  display: flex;
}
.web .socc + .socc {
  margin-left: 10px;
  background-position: center;
}

.social-web {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socc {
  fill: #ffffff;
  display: block;
  align-items: center;
}

.sociall {
  fill: #afb1b8;
}

.sociall:focus,
.sociall:hover {
  fill: #ffffff;
}

.social-web:hover,
.social-web:focus {
  border-radius: 50%;
  background-color: var(--accents);
}

.social-web:hover svg,
.social-web:focus svg {
  fill: var(--hero-and-footer-color);
}

.client-box {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-box:focus,
.client-box:hover {
  border: 1px solid var(--accents);
}

.client-box:focus svg,
.client-box:hover svg {
  fill: var(--accents);
}

.clients-icon {
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-icon:focus,
.clients-icon:hover {
  fill: var(--accents);
}

.client-link {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio {
  color: var(--primary-text-color);
  background-color: F5F4FA;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  text-align: center;
  border: none;
}

.buttons-link {
  margin-right: 8px;
}

.buttons-link:last-child {
  margin-right: 0px;
}

.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio.current {
  color: var(--hero-and-footer-color);
  background-color: var(--accents);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex .item:nth-child(3n) {
  margin-right: 0px;
}

.item.margin {
  margin-bottom: 0px;
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-decoration: none;
  text-decoration-line: none;
  padding-bottom: 4px;
}

.portfolioi-shadow:hover,
.portfolioi-shadow:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 0px 1px rgba(0, 0, 0, 0.12);
}

.work-names {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: none;
  display: block;
}

.type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  padding: 0;
  margin: 0;
}

.footers {
  background: #2f303a;
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.blocks {
  display: inline-block;
}

.logo-footer {
  color: var(--hero-and-footer-color);
}

.logo-down {
  margin-bottom: 20px;
}

.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accents);
}

.contacts.footer {
  color: var(--hero-and-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  padding: 0px;
  margin-bottom: 9px;
}

.contacts.footer:hover,
.contacts.footer:focus {
  color: var(--accents);
}

.contacts.footer.grey {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-footer {
  font-style: normal;
  margin-top: 20px;
}

.contacts.footer.grey:hover,
.contacts.footer.grey:focus {
  color: var(--accents);
}

.joins {
  margin-left: 70px;
  padding-bottom: 20px;
}

.join {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.webs {
  display: flex;
}
.webs .soc + .soc {
  margin-left: 10px;
  background-position: center;
}

.social-webs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.soc {
  fill: #ffffff;
  padding-top: 16px;
  display: block;
  align-items: center;
}

.social {
  fill: #ffffff;
}

.social-webs:hover,
.social-webs:focus {
  border-radius: 50%;
  background-color: var(--accents);
  border: none;
}
